@import url(editor.css);

@font-face {
    font-family: Digital-7;
    src: url(digital-7.ttf);
}

body {
    margin: 0;
    font-family: sans-serif;
}

table {
    border-collapse: collapse;
    margin: 8px auto;
}

td {
    width: 40px;
    padding: 8px;
    text-align: center;
}

td:first-child {
    border-right: 2px solid #ccc;
}

tr:not(:last-child) > td {
    border-bottom: 2px solid #ccc;
}

code {
    display: block;
    white-space: pre !important;
    width: fit-content;
    background-color: #eee;
    border-radius: 4px;
    padding: 4px;
    margin: 8px 0;
}

[contenteditable] {
    outline: none;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

#sidebar {
    z-index: 2;
    position: absolute;
    left: -352px;
    width: 400px;
    height: 100vh;
    box-sizing: border-box;
    transition: left .75s;
    background-color: #e2e2e2;
}

.image {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}

#sidebar-toggle-button {
    display: block;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url(arrow.svg);
    cursor: pointer;
    transition: transform .75s;
}

#sidebar-logo {
    display: block;
    position: absolute;
    bottom: 4px;
    right: 4px;
    background-image: url(icon.png);
}

#sidebar.open {
    left: 0;
}

#sidebar.open #sidebar-toggle-button {
    transform: rotateY(180deg);
}

#test-button {
    display: block;
    position: absolute;
    top: 4px;
    right: 52px;
    background-image: url(run.svg);
    cursor: pointer;
}

#skip-tutorial {
    position: absolute;
    top: 4px;
    left: 4px;
    text-decoration: underline;
    cursor: pointer;
}

#stage-descriptions {
    margin: 48px;
    margin-left: 16px;
    margin-bottom: 16px;
    font-size: 18px;
    overflow-y: auto;
    height: calc(100% - 64px);
    white-space: pre-wrap;
    font-family: inherit;
}

#stage-descriptions > span > * {
    white-space: normal;
}

#editor {
    position: absolute;
    left: 48px;
    width: 60vw;
    height: 100vh;
}

.line-breakpoint {
    background-color: #f44;
    color: #fff;
}

.line-breakpoint.breakpoint-current {
    background-color: #44f;
}

.line-error {
    color: #f44;
}

.line-breakpoint.line-error {
    background-color: #da4;
}

#debug-info {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#reg-table {
    font-size: 24px;
    margin: 16px;
}

#debug-buttons {
    display: flex;
    justify-content: center;
    gap: 24px;
    width: 100%;
}

.debug-buttons-disabled {
    pointer-events: none;
    filter: brightness(0.5) saturate(0.5);
}

#resume-button {
    background-image: url(resume.svg);
    cursor: pointer;
}

#step-button {
    background-image: url(step.svg);
    cursor: pointer;
}

#calculator {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: #eee;
    width: 350px;
    height: 420px;
    padding: 20px;
    box-sizing: border-box;
}

#calculator-display {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
    background-color: white;
    font-family: Digital-7;
    align-items: center;
    font-size: 60px;
    padding: 10px;
    box-sizing: border-box;
}

#calculator-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.calculator-buttons-row {
    display: flex;
    justify-content: space-between;
}

.calculator-buttons-row > div {
    display: flex;
    gap: 10px;
}

.calculator-placeholder {
    display: inline-block;
    height: 60px;
    width: 50px;
}

.calculator-button {
    display: flex;
    height: 60px;
    width: 50px;
    font-size: 40px;
    font-family: Digital-7;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    border-radius: 8px;
    user-select: none;
    cursor: pointer;
    color: #555;
}

.calculator-button-special {
    background-color: #d84;
    color: white;
}

.calculator-button-disabled {
    pointer-events: none;
    filter: grayscale(.8) brightness(1.2);
}